* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.header header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.header header img {
  padding-right: 1rem;
}
.header header .search {
  background: #E5E7EB;
  color: #c2c2c2;
  padding: 0.8rem;
  border-radius: 1.6rem;
  width: 75%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.header header .search i {
  padding-right: 0.7rem;
  font-size: 18px;
}
.header header .search input {
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  width: 85%;
  font-size: 16px;
}
.header header .hide {
  opacity: 0;
}
.header header .menu {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  right: 0;
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  cursor: pointer;
}
.header header .menu--item {
  background: #111827;
  width: 70%;
  height: 3px;
  border-radius: 3px;
}
.header header .menu::after {
  content: "";
  background: #111827;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.header header .menu::before {
  content: "";
  background: #111827;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.header--img {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.header article {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  align-items: center;
}
.header article .sub_cite {
  background-color: #F1DF6F;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
}
.header article p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: #626262;
  font-size: 400;
  line-height: 1.8rem;
}
.header article button {
  width: 80%;
  font-size: 18px;
  padding: 1rem 3rem;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}
.header article .select_candidate {
  background: #F1DF6F;
  color: #111827;
}
.header article .base_structers {
  background: transparent;
  border: 1px solid #F1DF6F;
}

.popUpMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  background: #fff;
  padding: 1rem;
  gap: 2rem;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(-100rem);
}
.popUpMenu header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.popUpMenu header .menu {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  right: 0;
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  cursor: pointer;
}
.popUpMenu header .menu--item {
  background: #111827;
  width: 70%;
  height: 3px;
  border-radius: 3px;
  visibility: hidden;
}
.popUpMenu header .menu::after {
  content: "";
  background: #626262;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  transform: rotate(45deg);
  transform: rotate(45deg) translateY(-1px) translateX(-1px);
}
.popUpMenu header .menu::before {
  content: "";
  background: #626262;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  transform: rotate(-45deg) translateY(12px) translateX(-12px);
}
.popUpMenu__search {
  background: #fff;
  color: #c2c2c2;
  padding: 0.8rem;
  border-radius: 1.6rem;
  border: 1px solid #E5E7EB;
  width: 100%;
}
.popUpMenu__search i {
  padding-right: 0.7rem;
  font-size: 18px;
}
.popUpMenu__search input {
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  width: 85%;
  font-size: 16px;
}
.popUpMenu ul {
  padding-left: 1rem;
}
.popUpMenu ul li {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.popUpMenu ul .select--item {
  color: #F50F22;
}
.popUpMenu__mergeList {
  height: 6rem;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.popUpMenu .show--more {
  cursor: pointer;
  margin-left: 1rem;
}
.popUpMenu button {
  width: 100%;
  font-size: 18px;
  padding: 0.8rem;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  background: #F1DF6F;
}
.popUpMenu__regLink {
  margin-top: -1rem;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5rem;
}
.popUpMenu__regLink a {
  color: #F50F22;
}

.direction {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.direction__logo {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  text-align: center;
}
.direction__logo i {
  font-size: 2rem;
  color: #c2c2c2;
  cursor: pointer;
}
.direction__slideMenu {
  position: relative;
  height: 11rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}
.direction__slideMenu .row {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: all 0.4s ease-in-out;
}
.direction__slideMenu .row .slide {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 1rem;
  background: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 1rem;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5rem;
}
.direction__slideMenu .second-row {
  margin-top: 6rem;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  padding: 3rem 2rem;
}
.footer ul {
  margin-bottom: 2rem;
}
.footer ul li {
  margin-bottom: 1rem;
}
.footer ul .head {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer footer {
  margin-top: 1.5rem;
  border-top: 1px solid #c2c2c2;
}
.footer footer h5 {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.7rem;
}

.recomendation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85%;
  color: #111827;
}
.recomendation__add {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 1rem;
}
.recomendation__add h2 {
  font-size: 20px;
  width: 90%;
}
.recomendation__add p {
  grid-column: 1/span 2;
  line-height: 1.4rem;
  font-size: 18px;
}

.add {
  position: relative;
}
.add article {
  background: #F1DF6F;
  border-radius: 16px;
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-bottom: 12rem;
}
.add article h1 {
  font-size: 24px;
  font-weight: 400;
}
.add article h2 {
  font-size: 18px;
  color: #F50F22;
  line-height: 1.5rem;
}
.add article button {
  margin-top: 1rem;
  width: 90%;
  font-size: 18px;
  padding: 18px 32px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}
.add h3 {
  position: absolute;
  font-size: 136px;
  font-weight: 700;
  bottom: -1rem;
  right: -0.2rem;
  color: #F2F2F2;
  letter-spacing: -0.03em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 5rem;
  transition: all 0.5s ease-in-out;
  color: #111827;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 400;
  color: #111827;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #111827;
}

section {
  padding: 1rem;
}

.show {
  visibility: visible;
  transform: translateY(0rem);
}

h2 {
  font-weight: 400;
  color: #111827;
}