.direction {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__logo {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        align-items: center;
        text-align: center;

        i {
            font-size: 2rem;
            color: color(icon-input);
            cursor: pointer;
        }
    }

    &__slideMenu {
        position: relative;
        height: 11rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

        .row {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            transition: all 0.4s ease-in-out;

            .slide {
                display: flex;
                flex-direction: row;
                padding: 0.8rem 1rem;
                background: #fff;
                border: 1px solid color(background-input);
                border-radius: 1rem;
                font-weight: 300;
                font-size: 18px;
                align-items: center;
                gap: 0.5rem;
                line-height: 1.5rem;
            }
        }

        .second-row {
            margin-top: 6rem;
        }

    }
}