.follow {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
        width: 85%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        margin-top: 4rem;
        line-height: 1.7rem;

        h1 {
          font-size: 26px;  
        }

        h2 {
            font-size: 20px;
        }

        input {
            background: transparent;
            font-size: 16px;
            border: 1px solid #D1D5DB;
            padding: 1rem 2rem;
            border-radius: 2rem;
            outline: none;
        }

        button {
            background: color(primary);
            padding: 1rem 2rem;
            border: 1px solid transparent;
            border-radius: 2rem;
            cursor: pointer;

            &:hover {
                background: transparent;
                border: 1px solid color(primary);
            }
        }

        p {
            margin-top: 1rem;
            text-align: initial;
            font-size: 12px;
            line-height: 1.3rem;

            span {
                color: color(text-gray);
            }
        }
    }
}

