.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 300;
    padding: 3rem 2rem;
    background: #fff;

    ul {
        margin-bottom: 2rem;

        li {
            margin-bottom: 1rem;

            a {

                &:hover {
                    color: color(text-disc);
                }
            }
        }

        .head {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;

        }
    }

    footer {
        margin-top: 1.5rem;
        border-top: 1px solid color(icon-input);
        
        h5 {
            margin-top: 1.5rem;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 0.7rem;
        }
    }
}