.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        img {
            padding-right: 1rem;
        }

        .search {
            background: color(background-input);
            color: color(icon-input);
            padding: 0.8rem;
            border-radius: 1.6rem;
            width: 75%;

            i {
                padding-right: 0.7rem;
                font-size: 18px;
            }

            input {
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                width: 85%;
                font-size: 16px;
            }
        }

        .menu {
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            right: 0;
            margin: 1rem;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            cursor: pointer;

            &--item {
                background: color(text);
                width: 70%;
                height: 3px;
                border-radius: 3px;
            }

            &::after {
                content: '';
                background: color(text);
                width: 100%;
                height: 3px;
                border-radius: 3px;
            }

            &::before {
                content: '';
                background: color(text);
                width: 100%;
                height: 3px;
                border-radius: 3px;
            }
        }

    }

    &--img {
        display: flex;
        flex-direction: column;
        width: 90%;
        
    }

    article {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        align-items: center;

        .sub_cite {
            background-color: color(primary);
            padding: 0.8rem 2rem;
            border-radius: 1rem;
        }

        p {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-size: 20px;
            color: color(text-disc);
            font-size: 400;
            line-height: 1.8rem;
        }

        button {
            width: 80%;
            font-size: 18px;
            padding: 1rem 3rem;
            border-radius: 26px;
            border: none;
            cursor: pointer;
        }

        .select_candidate {
            background: color(primary);
            color: color(text);
        }

        .base_structers {
            background: transparent;
            border: 1px solid color(primary);
        }
    }
    

}