.popUpBlock {
    width: 90%;
    position: fixed;
    margin: 1rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: #fff;
    border-radius: 2rem;
    z-index: 2;
    transform: translateY(8vh);

    h1 {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.3rem;
        font-size: 30px;
        margin-top: -1rem;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    input {
        border: 1px solid color(icon-input);
        border-radius: 2rem;
        padding: 1rem 2rem;
        width: 90%;
        outline: none;
    }

    button {
        width: 85%;
        padding: 1rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 18px;
        background: color(primary);
    
            &:hover {
                border: 1px solid color(primary);
                background: #fff;
            }
        
    }

    &__exit {
        position: relative;
        width: 100%;
        height: 2rem;
        margin-top: -1rem;

        &__block {
            position: absolute;
            width: 2rem;
            height: 100%;
            cursor: pointer;
            right: 0;

            &--elm {
                position: absolute;
                right: 0;
                width: 2rem;
                background: #000;
                height: 0.1rem;
                transform: rotate(45deg);
                visibility: hidden;
            }

            &::before {
                content: ' ';
                position: absolute;
                right: 0;
                width: 2rem;
                background: #000;
                height: 0.1rem;
                margin-top: 2rem;
                transform: rotate(45deg);
            }
    
            &::after {
                position: absolute;
                right: 0;
                content: ' ';
                width: 2rem;
                background: #000;
                height: 0.1rem;
                margin-top: 2rem;
                transform: rotate(-45deg);
            }

            &:hover {

              &::before {
                background: color(text-disc);
              }

              &::after {
                background: color(text-disc);
              }
            }
        }
    }
}


.popUp__Follow {

    button {
        background: color(primary);

        &:hover {
            background: #fff;
            border: 1px solid color(primary);

        }
    }
}

.enter{

    &__forgot {
        width: 90%;
        text-align: right;
        font-size: 16px;
        color: #374151;
        cursor: pointer;

        &:hover {
            color: color(select-text);
        }
    }

    &__reg--btn {
        background: #fff;
        border: 1px solid color(primary);

        &:hover {
            border: 1px solid transparent;
            background: color(primary);
        }
    }
}
