.popUpMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    
    z-index: 1;
    background: #fff;
    padding: 1rem;
    gap: 2rem;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    transform: translateY(-100rem);

    .popUpMenu__reg--btn {
        cursor: pointer;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .sticky__header--menu {
            position: absolute;
            width: 1.8rem;
            height: 1.8rem;
            right: 0;
            margin: 1rem;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            cursor: pointer;

            &--item {
                background: color(text);
                width: 70%;
                height: 3px;
                border-radius: 3px;
                visibility: hidden;
            }

            &::after {
                content: '';
                background: color(text);
                width: 100%;
                height: 3px;
                border-radius: 3px;
                transform: rotate(45deg);
                transform: rotate(45deg) translateY(-1px) translateX(-1px);
            }

            &::before {
                content: '';
                background: color(text);
                width: 100%;
                height: 3px;
                border-radius: 3px;
                transform: rotate(-45deg) translateY(12px) translateX(-12px);
                
            }

            &:hover {
                &::before {
                    background: color(text-disc);
                }

                &::after {
                    background: color(text-disc);
                }
            }
        }
    }

    &__search {
        background: #fff;
        color: color(icon-input);
        padding: 0.8rem;
        border-radius: 1.6rem;
        border: 1px solid color(background-input);
        width: 100%;

        i {
            padding-right: 0.7rem;
            font-size: 18px;
        }

        input {
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            width: 85%;
            font-size: 16px;
        }
    }
    
    ul {
        padding-left: 1rem;

        li {
            margin-bottom: 1rem;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
        }

        .select--item {
            color: color(select-text);
        }
    }

    &__mergeList {
        height: 6rem;
        overflow: hidden;
        transition: all 1s ease-in-out;
    
    }

    .show--more {
        cursor: pointer;
        margin-left: 1rem;
    }

    &__open--btn {
        width: 100%;
        font-size: 18px;
        padding: 0.8rem;
        border-radius: 26px;
        border: 1px solid transparent;
        cursor: pointer;
        background: color(primary);

        &:hover {
            border: 1px solid color(primary);
            background: #fff;
        }
    }

    &__regLink {
        margin-top: -1rem;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        margin-bottom: 5rem;

        a {
            color: color(select-text);
        }
    }

    &__profile {
        padding-left: 1rem;
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 0.7rem;

        img {
            width: 100%;
            grid-row: 1 / span 2 ;
        }

        h2 {
            margin-top: 0.60rem;
            font-size: 18px;
        }

        h3 {
            margin-top: -0.60rem;
            font-size: 14px;
            display: flex;
            gap: 0.5rem;
            align-items: center;

          div {
            width: 0.5rem;
            height: 0.5rem;
            background-color: black;
            border-radius: 50%;
          }
        }

    }
}