.recomendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: color(text);
    
    h1 {
        width: 85%;
    }

    &__add {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 1rem;
        width: 85%;

        h2 {
            font-size: 20px;
            width: 90%;
        }

        p {
            grid-column: 1 / span 2;
            line-height: 1.4rem;
            font-size: 18px;
        }
    }

    &__article {
        position: relative;
        padding: 0;
        margin: 1rem;
        overflow: hidden;
    
        article {
            background: color(primary);
            border-radius: 16px;
            padding: 2rem 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            padding-bottom: 12rem;
            overflow: hidden;
    
            h1 {
                font-size: 24px;
                font-weight: 400;
            }
    
            h2 {
                font-size: 18px;
                color: color(select-text);
                line-height: 1.5rem;
            }
    
            button {
                margin-top: 1rem;
                width: 90%;
                font-size: 18px;
                padding: 18px 32px;
                border-radius: 32px;
                border: none;
                cursor: pointer;
            }
    
        }  

        h3 {
            position: absolute;
            font-size: 116px;
            font-weight: 700;
            bottom: -1.8rem;
            right: -0.7rem;
            color: #F2F2F2;
            width: 100%;
        }

    }
}