$colors: (
    primary: #F1DF6F,
    text: #111827,
    text-disc: #626262,
    background-input: #E5E7EB,
    icon-input: #9CA3AF, 
    select-text: #F50F22,
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}