$colors: (
    primary: #F1DF6F,
    text: #111827,
    text-disc: #626262,
    background-input: #E5E7EB,
    icon-input: #c2c2c2, 
    select-text: #F50F22,
    text-job: #5B21B6,
    text-gray: #979797,
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}