@import 'config', 'variables';
@import 'header', 'popupmenu', 'direction', 'footer', 'recomendation', 'add';
@import 'people';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 5rem;
    transition: all 0.5s ease-in-out;
    color: color(text);
}

ul {
    list-style: none;
}

h1 {
    font-weight: 400;
    color: color(text);
    font-size: 28px;
}

a {
    text-decoration: none;
    color: color(text);
}

section {
    padding: 1rem;
}

.show {
    visibility: visible;
    transform: translateY(0rem);
}

h2 {
    font-weight: 400;
    color: color(text);
}
